body {
  font-family: sans-serif;
}

.coloredBackdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
}

/* Main content  */

.game-content {
  position: relative;
  padding: 30px 5px 0 5px;
  z-index: 2;
}

.board {
  background-color: rgb(0, 51, 109);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  width: 546px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.circle {
  height: 50px;
  width: 50px;
  border: solid 1px rgb(36, 36, 36);
  margin: 12.8px;
  border-radius: 25px;
}

.status {
  width:  546px;
  padding: 20px 0;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.8rem;
  color: rgb(27, 27, 27);
}

.reset {
  width:  3.75rem;
  height: 3rem;
  text-align: center;
  margin: 20px auto;
  font-size: 1.25rem;
  border: outset gray;
  background-color: rgb(209, 209, 209);
  color: rgb(37, 37, 37);
  border-radius: 30px;
  padding: 1.5rem 2rem;
  box-shadow: 0px 0px 5px 3px;
}

.reset:hover {
  background-color: rgb(192, 192, 192);
  cursor: pointer;
}

.reset:active {
  background-color: rgb(160, 160, 160);
}

/* Styles for larger screen widths */

@media (min-width: 1200px) {
  .board {
    width: 750px;
  }

  .circle {
    width: 55px;
    height: 55px;
    border-radius: 35px;
    margin: 13px;
  }

  .status {
    font-size: 2.3rem;
  }

  .reset {
    margin: 0 auto;
  }
}

/* Alternate styles for smaller screen widths */

@media (max-width: 624px) {
  .board {
    width: 350px;
  }

  .circle {
    height: 36px;
    width: 36px;
    margin: 5px;
  }

  .status {
    width: 350px;
    font-size: 1.4rem;
  }

  .reset {
    font-size: 1rem;
    width: 3.5rem;
    height: 2.5rem;
    padding: 1.25rem 1.5rem;
  }
}

@media (max-width: 424px) {
  body {
    min-width: 270px
  }

  .board {
    width: 220px;
  }

  .circle {
    width: 22px;
    height: 22px;
    margin: 3px;
  }

  .status {
    width: 220px;
    font-size: 1rem;
  }

  .reset {
    font-size: .8rem;
    width: 2.3rem;
    height: 2rem;
  }
}

