body {
  margin: 20px;
  font-family: sans-serif;
}

.entire-board {
  background-color: rgb(0, 51, 109);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  width: 546px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.circle {
  height: 50px;
  width: 50px;
  border: solid 1px rgb(36, 36, 36);
  margin: .8rem;
  border-radius: 25px;
}
